<div class="dish-card">
  <div class="dish-card-header">
    <!-- Below we are rendering the name of one dish using a Handlebars.js expression -->
   Character Name: {{character_name}}
    <br>
    <div>
      <p>
         Level: {{character_level}}
          <br>
          Character Class: {{character_class}}
          
      </p>
  
    </div>
  
  </div>
</div>